* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    font-family: 'poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #222;
    color: white;
    padding: 20px 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
    color: teal;
}

.btn-contact{
    padding: 8px 15px;
    background-color: rgb(174, 166, 166);
    border-radius: 30px;
}

.btn-contact:hover{
    background-color: #b1b8b8;
}
main {
    padding: 20px;
}
section {
    padding: 40px;
}
h2 {
    color: teal;
    padding: 15px;
}
.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-top: 15px;
    border-radius: 5px solid teal;
}

#project{
    display: grid;
    gap: 20px;
}

.project{
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
} 

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th,td {
    border: 1px solid #999;
    padding: 10px;
    text-align: left;
}

th {
    background: teal;
    color: white;
}
input,textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background: teal;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background: #0f766e;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}